---
import MobileIcon from "/public/images/mobile.png";
import WebIcon from "/public/images/web.png";
import SoftwareIcon from "/public/images/software.png";
import WhatsappIcon from "/public/images/social-icon/whatsapp.png";
import { Image } from "astro:assets";
---

<section class="md:px-20">
  <ul class="tab-links justify-between">
    <li class="tab-link" onclick="openTab(event, 'tab1')">
      <div class="flex justify-center items-center md:gap-4 gap-2">
        <Image src={MobileIcon} alt="" />
        <p class="md:text-xl text-sm">App</p>
      </div>
    </li>
    <li class="tab-link" onclick="openTab(event, 'tab2')">
      <div class="flex justify-center items-center md:gap-4 gap-2">
        <Image src={WebIcon} alt="" />
        <p class="md:text-xl text-sm">Website</p>
      </div>
    </li>
    <li class="tab-link" onclick="openTab(event, 'tab3')">
      <div class="flex justify-center items-center md:gap-4 gap-2">
        <Image src={SoftwareIcon} alt="" />
        <p class="md:text-xl text-sm">Software</p>
      </div>
    </li>
    <li class="tab-link" onclick="openTab(event, 'tab4')">
      <div class="flex justify-center items-center md:gap-4 gap-2">
        <Image src={SoftwareIcon} alt="" />
        <p class="md:text-xl text-sm">Maintenance</p>
      </div>
    </li>
  </ul>
  <br />

  <div id="tab1" class="tab" style="display: block;">
    <!-- Set display: block for the initial open tab -->
    <div class="grid md:grid-cols-2 items-center">
      <div class="tab-content">
        <div>
          <div class="flex flex-col gap-6">
            <article>
              <h4 class="font-bold text-1xl">Extensive Experience</h4>
              <p>
                We analyze the in-depth knowledge of market, we create tailored
                mobile apps that resonate with your target audience, giving you
                a competitive advantage.
              </p>
            </article>
            <article>
              <h4 class="font-bold text-1xl">Seamless User Experience</h4>
              <p>
                Our user-centric design approach ensures intuitive and engaging
                experiences, delighting your customers and increasing
                satisfaction and retention.
              </p>
            </article>
            <article>
              <h4 class="font-bold text-1xl">Cost-Effective and Timely</h4>
              <p>
                We prioritize efficient project management, delivering
                high-quality mobile apps within budget and agreed timelines,
                helping you achieve your business goals effectively.
              </p>
            </article>
          </div>
        </div>
        <div
          class="tab-btn md:justify-start md:flex gap-4 justify-center w-full mt-8"
        >
          <a href="/services/mobile-application">
            <button
              class="chatbtn btn flex items-center gap-3 bg-accent bg-blue-600 hover:bg-blue-700 duration-500 text-white px-6 py-2 rounded"
            >
              <h6>Learn More</h6>
              <i class="fa-solid fa-arrow-right btn-icon mt-[3px]"></i>
            </button>
          </a>
          <a
            href="https://api.whatsapp.com/send?phone=1234567890&text=Hello"
            target="_blank"
          >
            <button
              class="chatbtn btn flex gap-3 items-center border border-black px-6 py-2 rounded"
            >
              <h6>WhatsApp</h6>
              <Image
                alt="icon"
                loading="lazy"
                decoding="async"
                data-nimg="1"
                style="color: transparent"
                src={WhatsappIcon}
                width="21"
                class="pt-1"
              />
            </button>
          </a>
        </div>
      </div>
      <div class="md:block hidden">
        <img
          src="/images/digital-lifestyle-animate.svg"
          alt="UI/UX Design"
          class="flex-1 h-90 max-w-[100%] mx-auto"
        />
      </div>
    </div>
  </div>

  <div id="tab2" class="tab">
    <div class="grid md:grid-cols-2 items-center">
      <div class="tab-content">
        <div>
          <div class="flex flex-col gap-6">
            <article>
              <h4 class="font-bold text-1xl">Tailored Solutions</h4>
              <p>
                We offer custom website development, ensuring your site
                perfectly aligns with your brand identity, target audience, and
                business goals.
              </p>
            </article>
            <article>
              <h4 class="font-bold text-1xl">Mobile Responsiveness</h4>
              <p>
                Our websites are designed to adapt seamlessly to all devices,
                including mobiles, ensuring an exceptional user experience for
                your on-the-go customers.
              </p>
            </article>
            <article>
              <h4 class="font-bold text-1xl">Results-Oriented Approach</h4>
              <p>
                We focus on delivering websites that generate measurable
                results, such as increased traffic, leads, and revenue,
                providing tangible value for your business.
              </p>
            </article>
          </div>
        </div>
        <div
          class="tab-btn md:justify-start md:flex gap-4 justify-center w-full mt-8"
        >
          <a href="/services/web-dev">
            <button
              class="chatbtn btn flex items-center gap-3 bg-accent hover:bg-blue-700 duration-500 text-white px-6 py-2 rounded"
            >
              <h6>Learn More</h6>
              <i class="fa-solid fa-arrow-right btn-icon mt-[3px]"></i>
            </button>
          </a>
          <a
            href="https://api.whatsapp.com/send?phone=1234567890&text=Hello"
            target="_blank"
          >
            <button
              class="chatbtn btn flex gap-3 border border-black px-6 py-2 rounded"
            >
              <h6>WhatsApp</h6>
              <Image
                alt="icon"
                loading="lazy"
                decoding="async"
                data-nimg="1"
                style="color: transparent"
                src={WhatsappIcon}
                width="21"
                class="pt-1"
              />
            </button>
          </a>
        </div>
      </div>
      <div class="md:block hidden">
        <img
          src="/images/insert-block-animate.svg"
          alt="Website Development"
          class="flex-1 h-90 max-w-[100%] mx-auto"
        />
      </div>
    </div>
  </div>

  <div id="tab3" class="tab">
    <div class="grid md:grid-cols-2 items-center">
      <div class="tab-content">
        <div>
          <div class="flex flex-col gap-6">
            <article>
              <h4 class="font-bold text-1xl">Industry-Specific Expertise</h4>
              <p>
                We possess deep domain knowledge and experience in developing
                custom software solutions for various industries, ensuring our
                software precisely caters to your unique business challenges and
                requirements.
              </p>
            </article>
            <article>
              <h4 class="font-bold text-1xl">Innovation at Core</h4>
              <p>
                Our focus on innovation drives us to develop cutting-edge custom
                software, incorporating the latest technologies and industry
                best practices, empowering your business with a competitive
                advantage.
              </p>
            </article>
            <article>
              <h4 class="font-bold text-1xl">Scalable and Flexible</h4>
              <p>
                Our custom software solutions are designed to scale with your
                business growth and adapt to evolving needs, offering the
                flexibility to accommodate future expansions and changes
                seamlessly.
              </p>
            </article>
          </div>
        </div>
        <div
          class="tab-btn md:justify-start md:flex gap-4 justify-center w-full mt-8"
        >
          <a href="/services/custom-software-dev">
            <button
              class="chatbtn btn flex items-center gap-3 bg-accent hover:bg-blue-700 duration-500 text-white px-6 py-2 rounded"
            >
              <h6>Learn More</h6>
              <i class="fa-solid fa-arrow-right btn-icon mt-[3px]"></i>
            </button>
          </a>
          <a
            href="https://api.whatsapp.com/send?phone=1234567890&text=Hello"
            target="_blank"
          >
            <button
              class="chatbtn btn flex items-center gap-3 border border-black px-6 py-2 rounded"
            >
              <h6>WhatsApp</h6>
              <Image
                alt="icon"
                loading="lazy"
                decoding="async"
                data-nimg="1"
                style="color: transparent"
                src={WhatsappIcon}
                width="21"
                class="pt-1"
              />
            </button>
          </a>
        </div>
      </div>
      <div class="md:block hidden">
        <img
          src="/images/software-code-testing-animate.svg"
          alt="Website Development"
          class="flex-1 h-90 max-w-[80%] mx-auto"
        />
      </div>
    </div>
  </div>

  <div id="tab4" class="tab">
    <div class="grid md:grid-cols-2 items-center">
      <div class="tab-content">
        <div>
          <div class="flex flex-col gap-6">
            <article>
              <h4 class="font-bold text-1xl">Cost-Effective Support</h4>
              <p>
                Our affordable software maintenance service ensures that you
                receive top-notch technical assistance without straining your
                budget, making it the ideal choice for businesses in Bangladesh.
              </p>
            </article>
            <article>
              <h4 class="font-bold text-1xl">Seamless Operations</h4>
              <p>
                With our reliable maintenance, your software will run smoothly
                and efficiently, minimizing downtime and maximizing
                productivity, contributing to your business's success.
              </p>
            </article>
            <article>
              <h4 class="font-bold text-1xl">Local Support</h4>
              <p>
                As a service provider in Bangladesh, we offer prompt and
                accessible support, understanding your specific needs and
                providing tailored solutions to keep your software up and
                running flawlessly.
              </p>
            </article>
          </div>
        </div>
        <div
          class="tab-btn md:justify-start md:flex gap-4 justify-center w-full mt-8"
        >
          <a href="/services/software-maintenance">
            <button
              class="chatbtn btn flex items-center gap-3 bg-accent hover:bg-blue-700 duration-500 text-white px-6 py-2 rounded"
            >
              <h6>Learn More</h6>
              <i class="fa-solid fa-arrow-right btn-icon mt-[3px]"></i>
            </button>
          </a>
          <a
            href="https://api.whatsapp.com/send?phone=1234567890&text=Hello"
            target="_blank"
          >
            <button
              class="chatbtn btn flex items-center gap-3 border border-black px-6 py-2 rounded"
            >
              <h6>WhatsApp</h6>
              <Image
                alt="icon"
                loading="lazy"
                decoding="async"
                data-nimg="1"
                style="color: transparent"
                src={WhatsappIcon}
                width="21"
                class="pt-1"
              />
            </button>
          </a>
        </div>
      </div>
      <div class="md:block hidden">
        <img
          src="/images/software-code-testing-animate.svg"
          alt="Website Development"
          class="flex-1 h-90 max-w-[80%] mx-auto"
        />
      </div>
    </div>
  </div>
</section>

<script setup>
  function openTab(event, tabId) {
    // Hide all tabs
    var tabs = document.getElementsByClassName("tab");
    for (var i = 0; i < tabs.length; i++) {
      tabs[i].style.display = "none";
    }

    // Deactivate all tab links
    var tabLinks = document.getElementsByClassName("tab-link");
    for (var i = 0; i < tabLinks.length; i++) {
      tabLinks[i].style.fontWeight = "400";
    }

    // Show the clicked tab
    document.getElementById(tabId).style.display = "block";

    // Activate the clicked tab link
    event.currentTarget.style.fontWeight = "600";
  }
</script>
